body {
  display: grid;
  grid-area: 1fr/65% 35%;
  width: 100VW;
  height: 100Vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  background-color: grey;
}
.container .gameboy {
  width: 60%;
  height: 76.5%;
  margin-top: 50px;
  background-color: black;
  display: grid;
  grid-template: 1fr 1fr/50% 50%;
  border: 3px solid white;
  font-size: 30px;
}
.container .gameboy #canvas {
  grid-area: 1/1/3/2;
  border: 3px solid white;
}
.container .gameboy .description {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .gameboy .description .start {
  margin-top: 50px;
  background-color: white;
  width: 80%;
  height: 60px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 10px 0px red;
  -moz-box-shadow: 0px 10px 0px red;
  box-shadow: 0px 10px 0px red;
}
.container .gameboy .description .start:hover {
  background-color: red;
  color: white;
  -webkit-box-shadow: 0px 2px 0px red;
  -moz-box-shadow: 0px 2px 0px red;
  box-shadow: 0px 2px 0px red;
  position: relative;
  top: 4px;
}
.container .gameboy .description .your_score {
  margin-top: 50px;
  width: 80%;
  height: 100px;
  background-color: lightgreen;
}
.container .gameboy .description .your_score div {
  font-size: 60px;
}
.container .gameboy .description .settings {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 250px;
  margin-top: 50px;
  background-color: white;
}
.container .gameboy .description .settings .welcome {
  font-size: 30px;
  width: 100%;
  height: 30px;
}
.container .gameboy .description .settings .options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}
.container .gameboy .description .settings .options .easy {
  padding-top: 15px;
  width: 40%;
  height: 40%;
  background-color: white;
  color: green;
  border: 2px solid green;
  -webkit-box-shadow: 0px 10px 0px green;
  -moz-box-shadow: 0px 10px 0px green;
  box-shadow: 0px 10px 0px green;
}
.container .gameboy .description .settings .options .easy:hover {
  background-color: green;
  border: 2px solid green;
  color: white;
  position: relative;
  top: 8px;
  -webkit-box-shadow: 0px 2px 0px green;
  -moz-box-shadow: 0px 2px 0px green;
  box-shadow: 0px 2px 0px green;
}
.container .gameboy .description .settings .options .hard {
  padding-top: 15px;
  width: 40%;
  height: 40%;
  background-color: white;
  color: red;
  -webkit-box-shadow: 0px 10px 0px red;
  -moz-box-shadow: 0px 10px 0px red;
  box-shadow: 0px 10px 0px red;
  border: 2px solid red;
}
.container .gameboy .description .settings .options .hard:hover {
  background-color: red;
  border: 2px solid red;
  color: white;
  -webkit-box-shadow: 0px 2px 0px red;
  -moz-box-shadow: 0px 2px 0px red;
  box-shadow: 0px 2px 0px red;
  position: relative;
  top: 8px;
}
.container .gameboy .description .store {
  width: 80%;
  height: 250px;
  margin-top: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .gameboy .description .store .display-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 60%;
  background-color: black;
  height: 70%;
}

.container_2 {
  grid-area: 1/2/1/3;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100VH;
  background-image: url("https://i.pinimg.com/originals/5c/9a/49/5c9a49dd36f27acf248b66a0f6affdc1.png");
}

.modal {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url("media/elmo.gif");
  color: white;
  font-size: 120px;
  font-weight: bold;
  display: none;
  flex-direction: column;
  text-align: center;
}
.modal .options {
  display: flex;
  justify-content: space-around;
}
.modal .options .yes {
  margin-top: 40px;
  width: 300px;
  height: 100px;
  background-color: white;
  color: black;
  font-size: 50px;
  padding-top: 30px;
}

/*# sourceMappingURL=styles.css.map */
